<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="@globules-io/cordova-plugin-age-check"
        version="1.0.0">
    <name>AgeCheck</name>
    <description>Unified age verification plugin. Routes to Google Play Age Signals on Android and Apple Declared Age Range on iOS.</description>
    <license>MIT</license>
    <keywords>cordova,age,verification,google,apple</keywords>
    <author email="info@globules.io">globules.io</author>
    <repository url="https://github.com/globules-io/cordova-plugin-age-check.git" />
    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>
    <dependency id="@globules-io/cordova-plugin-google-play-age" version="*" />
    <dependency id="@globules-io/cordova-plugin-apple-age-check" version="*" />
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AgeCheck">
                <param name="android-package" value="io.globules.cordova.googleplayage.AgeSignalsPlugin" />
            </feature>
        </config-file>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="AgeCheck">
                <param name="ios-package" value="AgeCheckPlugin" />
            </feature>
        </config-file>
    </platform>
    <js-module src="www/AgeCheck.js" name="AgeCheck">
        <clobbers target="AgeCheck" />
    </js-module>
</plugin>